[submodule "truth_evaluation/software/resfinder"]
	path = truth_evaluation/software/resfinder
	url = https://github.com/genomicepidemiology/resfinder
	branch = 9e2b5fbb85af57aa555e5d947d778e7703093d8f
